
#
# eclipse meta data
#
.project
.classpath
.settings/

#
# eclipse build folder
#
bin/

#
# maven build folder
#
target/

#
# apps logs
#
log/
logs/

#
# maven release meta data
#
release.properties
pom.xml.*

